.community-forum {
  min-height: 90vh;
  background-color: white;
}
.community-nav {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.community-nav .add-post {
  background-color: var(--blue);
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  padding: .5rem 1.2rem;
}
.community-nav .right-field input {
  border: 2px solid var(--green);
  border-radius: 10px;
  padding: .2rem .5rem;
}
.community-nav .right-field {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.community-nav .right-field .search-button {
  background-color: var(--blue);
  width: 3.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
}
.community-nav .right-field .search-button svg {
  font-size: 1.8rem;
}
.forum-container {
  padding: 5rem 2rem;
}
.forum-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* padding: 2rem 3rem; */
  gap: 1.9rem;
}
.home-recipe-card {
  display: grid;
  height: 350px;
  grid-template-rows: 70% 30%; 
  gap: 1rem;
}
.home-recipe-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-recipe-card h6:hover{
  text-decoration: underline;
}
.home-recipe-card h6{
  text-align: left;
}
.pagination {
  display: flex;
  justify-content: center;
  align-self: baseline;
  align-content: center;
  padding: 2rem 0 1rem;
  height: auto;
  gap: 1rem;
}
.pagination button {
  border: none;
  cursor: pointer;
  height: 2.5rem;
}
.pagination button img {
  height: 65%;
  object-fit: contain;
}
.pagination .current {
  text-align: center;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
.pagination .direct-page {
  font-size: 1rem;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.159);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.473);
  padding: 0 1rem;
}
.create-recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding-bottom: 5rem;
}
.create-recipe h2 {
  margin-bottom: 3rem;
  text-decoration: underline;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.create-recipe form .column {
  width: 100%;
}
.create-recipe form input, textarea {
  border: 2px solid rgba(0, 0, 0, 0.696);
}
p {
  max-width: 400px;
  font-size: 12px;
}
.create-image {
  height: 300px;
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 0.178);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-image img {
  width: 100%;
  height: 100%;
}
.create-image-default {
  height: 15% !important;
  width: 15% !important;
}
.create-recipe form button {
  background-color: var(--blue);
  color: white;
  font-size: 1.3rem;
  border-radius: 10px;
  padding: .6rem 1.5rem;
}
