.find-a-doctor{
  /* min-height: 90vh; */
}
.find-a-doctor .autocomplete-tab {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.find-a-doctor .search-button {
  background-color: var(--blue);
  width: 3.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
}
.find-a-doctor .search-button svg {
  font-size: 1.8rem;
}
.doc-card-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2.5rem;
}
.no-doc{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-doc .faq{
  /* width: 100%; */
  background-color: white;
  display: flex;
  flex-direction: column;
}
.no-doc .faq .accordion .accordion-style{
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
  border-right: 7px solid rgba(0, 64, 255, 0.753) !important;
  margin: 1.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem !important;
}
.MuiTypography-root{
  width: 100% !important;
}
.width-100, .width-100 p{
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}