.profile{
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.9rem;
}
.header-section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 3%;
    width: 100%;
    min-height: 20vh;
}
.header-section img{
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid var(--blue);
    border-radius: 15px;
    object-fit: contain;
}
.header-section .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.6rem;
    font-weight: 500;
}
.header-section .info .first, .header-section .info .second{
    display: flex;
    justify-content: left;
}
.header-section .info .first .gender{
    font-weight: 700;
    margin-left: 1rem;
    letter-spacing: 2px;
    color: rgba(255, 0, 0, 0.788);
    text-transform: uppercase;
}
.header-section .booking-container{
    border: 2px solid rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all 0.3s ease-in-out;
    /* z-index: -9; */
}
.header-section .booking-container:hover{
    border: 2px solid var(--blue);
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border-bottom-right-radius: 25px;
}
.header-section .booking-container .book-button{
    background-color: var(--green);
    color: white;
    width: fit-content;
    padding: 0.5rem 1.3rem;
    border-radius: 11px;
    /* z-index: 0; */
}
.profile-section{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-tag{
    padding-right: 7rem;
    padding-left: 1.1rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid var(--green);
    font-size: 1.7rem;
    text-transform: uppercase;
    height: auto;
    width: fit-content;
    text-align: left;
}
.profile-section .section-content{
    margin: 0;
    padding: 0 1.62rem;
    font-size: 1.4rem;
    text-align: left;
    /* border: 2px solid blue; */
}
.specialization-container, .schedule-timings{
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
}
.specialization-container p{
    background-color: var(--blue);
    color: white;
    padding: 0.4rem .8rem;
    border-radius: 9px;
}
.education-container{
    display: flex;
    flex-direction: column;
}
.schedules-container{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.schedule-wrap{
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.schedule-wrap .schedule-date{
    border: none;
}
.schedule-time{
    width: fit-content;
    cursor: pointer;
}
.reviews-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.review-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.review-box .review-text{
    display: grid;
    grid-template-columns: 10fr 2fr;
    /* grid-row-gap: 10fr; */
}
.review-box .review-text textarea{
    padding: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.247);
    border-radius: 4px;
    border-bottom-right-radius: 15px;
}
.review-box .review-text textarea:focus{
    border: 2px solid rgba(0, 0, 0, 0.247);
    /* background-color: aqua; */
    border: 2px solid var(--green);
    /* border-radius: 4px; */
    /* border-bottom-right-radius: 15px; */
}
.review-box .review-text button{
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
}
.reviews-container{
    border: 2px solid rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
    padding-top: 1rem;
    overflow: auto;
}